.nav {
  height: 50px;
  width: auto;
  background-color: red;
  display: flex;
  justify-items: flex-end;
  border-radius: 10px;
}
.nav ul a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
/* Your CSS Code here. */
